<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meyersj.mobilesurveyor.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="Transit Surveyor"
        android:name=".TransitSurveyorApplication">

        <activity
            android:name=".LocationActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.meyersj.mobilesurveyor.app.ODK_LOCATION" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
